<!Doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="Author" content="Amee Vargas">
    <title>xTab</title>
    <link rel="stylesheet" href="/src/css/styles.css">
    
  </head>
  <body>
    <div id="header" class="main-header" type="header-1">
      <header id="main-header" class="header-1" type="navbars">
        <main id="row-1" width="750" height="100">
          <span id="col-1" width="150px" height="75px"></span>
        <span id="col-2" width="150px" height="75px"></span>
          <span id="col-3" width="150px" height="75px"></span>
        </main>
        <div id="nav" type="top-nav" class="main">
        <nav id="main-nav" class="dropdown" type="breadcrumbs">
          <span type="nav-1" id="navbars-main" class="buttons"><a href="https://iri.digital/home">Home</a></span>
          <span type="nav-1" id="navbars-main" class="buttons"><a href="https://iri.digital/dash">Dashboard</a></span>
          <span type="nav-1" id="navbars-main" class="buttons"><a href="https://github.com">Github</a></span>
          <span type="nav-1" id="navbars-main" class="buttons"><a href="https://github.com/AmVa456/xtab">repo</a></span>
          <span type="nav-1" id="navbars-main" class="buttons"><a href="http://127.0.0.1:3000">local_dev</a></span>
        </nav>
        </div>
      
      </header>
    </div>
    <div id="root">
    </div>
    
  </body>
